
.image_panel{
  
  width:150px;
  height: 150px;
}

.image_page{
  
  width:500px;
  height: 350px;
  text-align: "center";
  margin: 10px auto 20px;
  display: block;
}

.navbar {
  
  font-size: 25px; 
  background-color: white;
  

}
body {
  background-color: rgb(237,237,237);
  
}

.navbar-brand {
  background-color: rgb(74, 170, 165);
  color: rgb(255, 255, 255);
  margin-left: .0px;
  padding: inherit;
  font-weight: bold;
  font-family: cochin;
  border-left: 0;
  
  
}
.custome
{
  margin-left: auto;
  margin-right: auto;
}
.center{
  text-align: center;
}

.active, .dropdown-menu .dropdown-item:active a:hover {
  background-color: rgb(255,255,255);
}
.dropdown-item {
  color: black;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(52, 150, 165, 0.75);
}

.nav-link:hover {
  background-color:rgba(52, 150, 165, 0.75);
 }

.navbar-brand:hover {
color: rgb(255,255,255);
}
a {
  
  color: black;
  font-size: 15px;
}

img{
  width:100%;
  height:100%;
}
.active, .image_panel:hover, .image_page:hover {
  border-color:rgb(52, 149, 165);
  border-style: solid;
  content: attr(title);
  
}
.vizualization {
  width:50%;
  height:50%;
}

.title {
  color: rgb(52, 149, 165);
  font-family: cochin;
  font-weight: bolder;
  padding-top: 10px;
}

p {
color: rgb(0,0,0);
font-family: 'segoe ui';
font-size: 16px;
}

.box {
  margin-top: 50px;
  margin-bottom: 60px; 
  padding: 10px 30px 10px;
  color: #ffffff;
  background-color: rgb(255, 255, 255);

}

.table {
  font-size: 15px;
  border-top-color: rgb(255, 255, 255);
}

footer {
background-color: #000000;
border-top-style: solid;
border-top-width: 5px;
border-top-color: rgb(37, 80, 87);
color: rgb(171, 222, 226);
min-height: 50px;
font-family: Menlo, Helvetica, sans-serif;
font-size: 10px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px;
}


@media(max-width: 992px) {
  .navbar-expand-lg {
  background-color: #000000;
  }
  body {
    background-color: rgb(255,255,255);
  }


  
  .navbar {
  
  
  background-color: rgb(74, 170, 165);

  }
  .custom_bgcolor{
    color: rgb(74, 170, 165);
  }
  .navbar div {
    margin: inherit;
    background-color: rgb(255,255,255);


  }
  .navbar-toggler
  {
    background-color:rgb(74, 170, 165);
    border-color:white;
  
  }
  
  .navbar-brand {
    padding: 0px;
    
  }
  button{
    margin-right: 30px;
    background-color: rgb(37, 80, 87);
    color:black;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
  .box {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
